.slider-nameplate{
    position: relative;
    width: 90%;
    height: 110px;
    background-color: #6d2222;
    border-radius: 20px;
    box-shadow: 0px 6px 20px 8px #000000;
    color: white;
    font-size: 24px;
}

.show-name-container, .change-name-container{
    position: absolute;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.trip-name{
    cursor: default;
}

.change-name-container > input{
    position: absolute;
    text-align: center;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 20px;
    background-color: transparent;
    font-size: 20px;
}

.change-name-container > input:focus{
    outline: none;
}

.change-name-container > input::after{
    content: "";
    position: absolute;
    background-color: yellow;
    border: 1px solid white;
    width: 10px;
    height: 10px;
}
.show-name-container > .trip-name{
    position: absolute;
    text-align: center;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.slider-nameplate::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 97%;
    height: 92%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    border: 2px solid white;
    pointer-events: none;
}

button{
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

button:hover{
    color: black;
}

.cancel-button > svg{
    font-size: 20px;
    position: relative;
}

.cancel-button{
    position: relative;
    top: 2px;
}

.save-button{
    position: relative;
    left: 12px;
    top: -1px;
}

.delete-button{
    position: relative;
    left: 22px;
    top: -1px;
}