.select-destination-box{
    position: absolute;
    top: -170px;
    left: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 600px;
    height: 200px;
}

.stem{
    height: 25px;
    width: 65%;
    background-color: yellow;
}


.box{
    height: 100%;
    width: 35%;
    background-color: yellow;
}

.place-searcher{
    margin-left: 5px;
    width: 200px;
}

.suggestion{
    border: 1px solid black;
    margin-left: 5px;
    width: 200px;
}

.autocomplete-textbox{
    position: relative;
}

.autocomplete-guess-container{
    position: absolute;
    width: 100px;
    top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.autocomplete-guess{
    width: 100px;
    border: 1px solid black;
    text-align: center;
    word-wrap: wrap;
    min-height: 25px;
    background-color: white;
}


