*{
    box-sizing: border-box;
}

body{
    min-width: 920px;
}

.page{
    position: fixed;
    background-image: url("/background.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    
}

.App{
    /* height: 100vh; */
    z-index: -1;
}


.loading-container{
    z-index: 5;
    position: fixed;
    left: calc(50% + 180px);
    top: 50%;
    width: 100px;
    transform: translate(-50%, -50%);

}


