*{
    box-sizing: border-box;
}

body{
    min-width: 910px;
}

.page{
    position: fixed;
    background-image: url("/background.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
}

.App{
    height: 100vh;
}



